
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
h4 {
  width: 100%;
}
.blog-container {
  margin-top: 20px;
}
.blog-container--img {
  width: 100%;
  height: 170px;
  background-position: center;
  background-size: cover;
  background-image: url(https://dummyimage.com/200x200/c2c2c2/b0b0b0);
}
.blog-container--content {
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 160px;
  position: relative;
}
.blog-container--content-title {
  font-weight: bold;
  font-size: 16px;
}
.blog-container--content-descr {
  margin-bottom: 20px;
}
.read-more {
  position: absolute;
  bottom: 10px;
}
.blog-img {
  float: left;
  margin-right: 20px;
  max-width: 250px;
}
.blog-img-form {
  max-width: 150px;
}
